<!DOCTYPE html>
<html class="scroll-smooth" lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta
      name="generator"
      content="CinelarTV <%= CinelarTV::Application::Version::FULL %> - https://github.com/CinelarTV/CinelarTV-AIO <%= CinelarTV.git_branch %> version <%= CinelarTV.git_version %>"
    >
    <%= tag.meta name: "theme-color", content: SiteSetting.header_background_color %>
    <%= tag.meta name: "msapplication-navbutton-color",
             content: SiteSetting.header_background_color %>
    <%= tag.meta name: "apple-mobile-web-app-status-bar-style",
             content: SiteSetting.header_background_color %>
    <%= tag.meta name: "apple-mobile-web-app-capable", content: "yes" %>
    <%= tag.meta name: "apple-mobile-web-app-title", content: SiteSetting.site_name %>
    <%= tag.meta name: "application-name", content: SiteSetting.site_name %>
    <%= tag.meta name: "msapplication-tooltip", content: SiteSetting.site_name %>
    <%= tag.meta name: "msapplication-starturl", content: "/" %>
    <%= tag.meta name: "msapplication-TileColor",
             content: SiteSetting.header_background_color %>
    <%= tag.meta name: "msapplication-TileImage", content: SiteSetting.site_favicon %>
    <% if Rails.env.development? && params[:c] == "true" %>
      <% console %>
    <% end %>
    <title><% if defined? @title %><%= @title %> | <%= SiteSetting.site_name %><% else %><%= SiteSetting.site_name %><% end %></title>
    <link rel="icon" type="image/png" href="<%= SiteSetting.site_favicon %>">
    <link rel="manifest" href="/manifest.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render partial: "partials/opengraph" %>
   
  

  </head>
  <body class="app-body<% if device == "mobile" %> is-mobile<% end %>" data-current-path="<%= request.env["PATH_INFO"] %>">
    <cinelar-assets>
      <cinelar-assets-stylesheets>
        <%= render partial: "partials/stylesheet" %>
      </cinelar-assets-stylesheets>
      <cinelar-assets-icons>
        <%= tag.div(id: "cinelar-icon-sheet") %>
      </cinelar-assets-icons>
      <cinelar-essentials-preload>
        <%= tag.div(id: "data-preloaded", "data-preloaded": preloaded_json) %>
      </cinelar-essentials-preload>
    </cinelar-assets>
    <!--The application is rendered at runtime on client-side-->
    <div id="cinelartv">
      <%- if include_splash? %>
        <%= render partial: "common/splash" %>
      <%- end %>
    </div>
    <noscript>
      <div>
        <!-- Fallback in case of JavaScript disabled / Crawler -->
        <main class="container mx-auto mt-28 px-5 flex">
          <%= yield %>
        </main>
        <!-- End of Fallback -->
      </div>
    </noscript>
    <%= render_external_scripts %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag 'boot-cinelartv' %>

    <%# On development, enable React Fast Refresh %>

    <% if Rails.env.development? %>
      <script type="module">
        import RefreshRuntime from '/vite-dev/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
      </script>
    <% end %>
  </body>
</html>
