<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="generator" content="CinelarTV <%= CinelarTV::Application::Version::FULL %> - https://github.com/CinelarTV/CinelarTV-AIO <%= CinelarTV.git_branch %> version <%= CinelarTV.git_version %>">
    <%= tag.meta name: "theme-color", content: SiteSetting.header_background_color %>
    <%= tag.meta name: "msapplication-navbutton-color",
                 content: SiteSetting.header_background_color %>
    <%= tag.meta name: "apple-mobile-web-app-status-bar-style",
                 content: SiteSetting.header_background_color %>
    <%= tag.meta name: "apple-mobile-web-app-capable", content: "yes" %>
    <%= tag.meta name: "apple-mobile-web-app-title", content: SiteSetting.site_name %>
    <%= tag.meta name: "application-name", content: SiteSetting.site_name %>
    <%= tag.meta name: "msapplication-tooltip", content: SiteSetting.site_name %>
    <%= tag.meta name: "msapplication-starturl", content: "/" %>
    <%= tag.meta name: "msapplication-TileColor",
                 content: SiteSetting.header_background_color %>
    <%= tag.meta name: "msapplication-TileImage", content: SiteSetting.site_favicon %>
    <% if Rails.env.development? && params[:c] == "true" %>
      <% console %>
    <% end %>
    <title><%= content_for?(:title) ? yield(:title) : SiteSetting.site_name %></title>
    <link rel="icon" type="image/png" href="<%= SiteSetting.site_favicon %>">
    <link rel="manifest" href="/manifest.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body class="app-body wizard<% if device == "mobile" %> is-mobile<% end %>">
    <cinelar-assets>
      <cinelar-assets-stylesheets>
        <%= render partial: "partials/stylesheet" %>
      </cinelar-assets-stylesheets>
      <cinelar-essentials-preload>
        <%= tag.div(id: "data-preloaded", "data-preloaded": preloaded_json) %>
      </cinelar-essentials-preload>
    </cinelar-assets>
    <div id="cinelartv">
    
<main>
          <%= yield %>
        </main>      
    </div>
  </body>
</html>
